/cam2image:
  ros__parameters:
    width: 320
    height: 240
    show_camera: false
    history: "keep_last"
    durability: "volatile"
    reliability: "reliable"
    depth: 1
    rotate: true
    throttle_rate: 5000.0
    flip: true